* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    font-family: Verdana, Helvetica, sans-serif;
    background: rgb(67, 64, 64);
}
.wrapper {
    margin: 0 auto 0 auto;
    width: 1080px;
    position: relative;
    min-height:100vmin;
}

header img {
    width: 100%;
}

a:link {
    color: darkblue;
}

a:visited {
    color: purple;
}

a:hover {
    color:darkred;
}

a:active {color: rebeccapurple;}

nav ul {
    background: rgb(20, 20, 20);
    padding: 10px;
}
nav ul li {
    background: #787878;
    padding: 5px;
    border: solid 2px white;
    display: inline-block;
}

nav ul li a:link {
    color: white;
    text-decoration:none;
}
nav ul li a:visited {
    color: white;
    text-decoration:none;
}
nav ul li a:hover {
    color: darkred;
    text-decoration:none;
}
nav ul li a:active {
    color: red;
    text-decoration:none;
}

section {
    padding: 5px;
    margin: 5px;
    border: double 4px #787878;
    border-radius: 8px 8px 20px 20px;
}
  
section article {
    border: 3px solid black;
    border-radius: 0px 20px 20px 20px;
    margin: 5px 10px 5px 10px;
    padding: 10px;
    background: #666666;
}

section article h2 {
  font-weight:800;
  font-variant-caps:petite-caps;
}

section article p {
  font-weight: 100;
}

footer {
    background: black;
    position:absolute;
    border-radius: 15px 15px 0px 0px;
    bottom: 0%;
    width: 100%;
}

footer img {
    float:left;
    position:relative;
    height: 30px;
    left: 44%;
    transform: translate(-50%);
}

footer h5 {
    text-align: center;
    font-variant-caps:small-caps;
    position: relative;
}

#opdrachtenlijst {
    text-align: center;
}

#opdrachtenlijst ul {
    display: inline-block;
    text-align: left;
    list-style-type:none;
}






div#groen {
    position: absolute;
    top: 120px;
    left: 120px;
    z-index: 45;
    width: 200px;
    height: 200px;
    background-color: green;
}
div#rood {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 200px;
    height: 200px;
    background-color: red;
}
div#geel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 260px;
    height: 260px;
    background-color: yellow;
}
div#zwart {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 400px;
    height: 400px;
    background-color: black;
}
div#blauw {
    position: absolute;
    top: 180px;
    left: 180px;
    z-index: 3;
    width: 200px;
    height: 200px;
    background-color: blue;
}